favorites=
recent=obconf.desktop,qt5ct.desktop,org.gnome.Epiphany.desktop
button-icon=xfce4-whiskermenu
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=3
hover-switch-category=false
category-show-name=true
category-icon-size=1
load-hierarchy=false
view-as-icons=true
default-category=0
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=true
stay-on-focus-out=false
confirm-session-command=true
menu-width=450
menu-height=500
menu-opacity=100
command-settings=lxappearance
show-command-settings=true
command-lockscreen=xscreensaver-command --lock
show-command-lockscreen=true
command-switchuser=lxsession-logout
show-command-switchuser=false
command-logoutuser=lxsession-logout
show-command-logoutuser=false
command-restart=lxsession-logout
show-command-restart=false
command-shutdown=lxsession-logout
show-command-shutdown=false
command-suspend=lxsession-logout
show-command-suspend=false
command-hibernate=lxsession-logout
show-command-hibernate=false
command-logout=lxsession-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=false
search-actions=5
